/Lab_3/nbproject/private/
/Lab_3/build/
/BaiTapWeb11102023/nbproject/private/
/BaiTapWeb11102023/build/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/BaiKiemTra18102023/nbproject/private/
/BaiKiemTra/nbproject/private/
/BaiKiemTra/build/
/BaiTap18102023/nbproject/private/
/BaiTap18102023/build/
/BaiTap25102023/nbproject/private/
/BaiTap25102023/build/
/BaiTapWeb01112023/nbproject/private/
/BaiTapWeb01112023/build/
/BaiTapWeb08112023/nbproject/private/
/BaiTapWeb08112023/build/
/BaiTapWeb15112023/nbproject/private/
/BaiTapWeb15112023/build/
/BaiKiemTra17112023/nbproject/private/
/BaiKiemTra17112023/build/
/BaiTapWeb22112023/nbproject/private/
/BaiTapWeb22112023/build/
/FullCode/nbproject/private/
/KiemTraWeb29112023/nbproject/private/
/KiemTraWeb29112023/build/
/FullHouse/nbproject/private/
/FullHouse/build/
/FullHouse/dist/
/WebApplication1/dist/
/K14/DeSo1/nbproject/private/
/K14/DeSo1/build/
/K14/DeSo2/nbproject/private/
/K14/DeSo2/build/
/K14/DeSo3/nbproject/private/
/K14/DeSo3/build/
/K14/DeSo4/nbproject/private/
/K14/DeSo4/build/
/K14/DeSo5/nbproject/private/
/K14/DeSo5/build/
