/Lab_3/nbproject/private/
/Lab_3/build/
/BaiTapWeb11102023/nbproject/private/
/BaiTapWeb11102023/build/
/WebApplication1/nbproject/private/
/WebApplication1/build/
/BaiKiemTra18102023/nbproject/private/
/BaiKiemTra/nbproject/private/
/BaiKiemTra/build/
/BaiTap18102023/nbproject/private/
/BaiTap18102023/build/
/BaiTap25102023/nbproject/private/
/BaiTap25102023/build/